.buttons {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

button[type='submit'] {
  padding: 10px 25px;
  background-color: #aaa0e6;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
}

.button-small {
  border-radius: 60px;
}

.button-large {
  border-radius: 8px;
  width: 100%;
}

button[type='submit']:hover {
  background-color: #7f6aee;
}

.invisible-button {
  padding: 5px;
  background-color: transparent; /* 투명 배경 */
  color: #000000; /* 글자색 */
  font-size: 14px;
  text-align: center; /* 텍스트 중앙 정렬 */
  text-decoration: none; /* 밑줄 제거 */
  display: inline-block; /* 버튼처럼 보이게 하기 위해 inline-block 사용 */
}

.back-button {
  width: 20px;
  height: 20px;
  background-image: url('/images/back_nav.png'); /* 이미지 경로 */
  background-size: cover; /* 이미지를 버튼 크기에 맞게 조정 */
  background-repeat: no-repeat; /* 이미지를 반복하지 않음 */
  border: none; /* 기본 테두리 제거 */
  cursor: pointer; /* 커서 모양 변경 */
}

.edit-buttons {
  display: flex;
  justify-content: flex-end;
}

.edit-buttons button {
  margin-left: 8px; /* 버튼 사이 여백 추가 */
  background-color: transparent;
  border: 1px solid #aaa0e6;
  border-radius: 8px;
  padding: 6px 12px;
}

.reaction-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
}

.reaction-button {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 16px;
  width: 90px;
  padding: 14px;
  margin: 4px;
  cursor: pointer;
  line-height: 1.5;
}

.dropdown-profile {
  /* display: none; */
  position: absolute;
  background-color: rgba(217, 217, 217, 1);
  z-index: 1; /* 다른 요소 위에 표시 */
  top: 100%; /* 클릭한 요소 바로 아래에 위치 */
}

.small-profile-container:focus + .dropdown-profile,
.small-profile-container:hover + .dropdown-profile {
  display: block; /* 버튼에 포커스 또는 호버 시 드롭다운 표시 */
}

.dropdown-profile a {
  color: black;
  text-decoration: none; /* 링크의 밑줄 제거 */
  display: block; /* 블록 요소로 설정 */
  font-size: x-small;
  font-weight: 400;
  width: 70px;
  text-align: center;
  padding: 10px;
}

/* 호버 시 링크 배경색 변경 */
.dropdown-profile a:hover {
  background-color: #f1f1f1;
}
