.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.h2-title {
  font-size: 24px;
}

label {
  font-size: 16px;
  align-items: flex-start;
}

input,
textarea {
  background-color: transparent; /* 배경을 투명하게 설정 */
  border: none; /* 테두리 없애기 */
  align-self: center;
  width: 100%;
  margin: 0 auto; /* 중앙 정렬 */
  resize: none;
  padding: 0;
}

input {
  font-size: 16px;
  font-weight: 700;
}

textarea {
  font-size: 15px;
  font-weight: 400;
  height: 230px;
  line-height: 1.5;
}

.edit-form-wrapper {
  padding-top: 40px;
}

.button-large {
  width: 60%;
  border-radius: 4px;
  background: #7f6aee;
}
