.buttons .button-large,
.buttons .invisible-button {
  font-size: 14px; /* 원하는 크기로 변경 */
  /* 다른 스타일도 추가 가능 */
}

#not-small {
  margin-top: 35px;
  font-size: 18px;
  border-radius: 30px;
  padding: 12px 20px;
}

.small-profile-container {
  border: none;
}
