.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.post-info {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 세로 중앙 정렬 */
  width: 100%;
  font-size: x-small;
  padding-bottom: 10px;
}

.post-date {
  padding-left: 10px;
}

.post-content {
  padding: 10px 0;
}

.post-content-image {
  width: 100%;
  height: 306px; /* 빈 이미지 높이 */
  background-color: #ccc; /* 회색 배경 */
  display: flex; /* flexbox로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  color: #fff; /* 텍스트 색상 */
  font-size: 1.5em; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 두께 */
  margin-bottom: 15px; /* 아래 여백 */
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.write-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  width: 105%;
  margin: 5px 0 15px 0;
  padding-bottom: 5px;
}

button.button-small {
  margin-left: auto; /* 오른쪽 끝으로 이동 */
  margin-right: 10px; /* 오른쪽 여백 */
  border-radius: 16px;
  width: 110px;
  font-size: small;
  padding: 8px 0;
}

textarea.comment-input {
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  border: none;
  resize: none; /* 크기 조정 비활성화 */
  padding: 0 20px;
  margin: 15px 0 5px 0;
  font-size: small;
}

.write-comment .line {
  width: 100%;
  margin: 5px 0;
}

.comment-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.view-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px 0;
}

.comment-content {
  margin-left: 46px;
}
