@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Orbit&display=swap');

body {
    margin: 0;
    background-color: #f4f5f7;
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    align-items: center;
    justify-content: flex-start; /* 수직 및 수평 중앙 정렬 */
    flex-direction: column;
    height: 100vh; /* 전체 화면 높이 */
}

.default-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 100vh;
}

.h2-title {
    color: #000000;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
}

label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
    align-self: flex-start;
}

input {
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    border: 1px solid #000000;
    background-color: transparent;
    font-size: 14px;
    border-radius: 4px;
    margin: 4px 0 4px 0;
}

/* form 요소 */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2px;
}

.small-profile-container {
    width: 36px;
    height: 36px;
    background-color: #89898980;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.author-name {
    font-size: 15px;
    margin-left: 8px;
    font-weight: bold;
}

.meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.meta > div {
    margin: 0 10px 0 0;
}

.line {
    width: 105%;
    border: 0.5px solid rgba(0, 0, 0, 0.16);
    margin: 15px 0;
}

p {
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
}

/* 헤더 */
#header {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40%;
}

.title {
    text-align: center;
    font-family: 'Orbit', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
}

.absolute-title-left {
    position: absolute;
    left: 1px;
    top: 15px;
}

.absolute-title-right {
    position: absolute;
    right: 1px;
    top: 5px;
}

/* 드롭다운 */
.dropdown-menu {
    display: none; /* 기본적으로 숨겨둡니다 */
    position: absolute;
    top: 100%; /* 부모 요소의 아래로 */
    right: 0; /* 부모 요소의 오른쪽 끝에 정렬 */
    width: 110px;
    background-color: #d9d9d9;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* 드롭다운 메뉴가 다른 요소들 위에 표시되도록 */
    font-size: 12px;
    font-weight: 400;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    display: flex; /* Flexbox를 사용해 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #e9e9e9;
}

/* 헬퍼 메시지 */
.helper-text {
    min-height: 18px;
    font-size: 12px;
    color: #ff3434;
    align-self: flex-start;
    visibility: hidden; /* 기본적으로 숨김 */
    opacity: 0; /* 기본적으로 보이지 않음 */
}

.helper-text.show {
    visibility: visible;
    opacity: 1;
}

/* 프로필 이미지 */
.profile-pic {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile-image-input {
    display: none;
}

.profile-image-container {
    cursor: pointer; /* 클릭 가능하게 */
    flex-direction: column; /* 라벨과 원형 버튼 세로 배치 */
    align-items: center; /* 원형 버튼만 가로 중앙 정렬 */
    display: inline-block;
    width: 149px;
    height: 149px;
    background-color: #c4c4c4; /* 기본 배경 색상 */
    overflow: hidden;
    border-radius: 50%; /* 원형으로 만들기 */
    align-self: center;
    margin-top: 8px;
}

.profile-image-circle {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.profile-image-input {
    display: none; /* 실제 파일 입력은 숨기고 label을 클릭하게 만듬 */
}

/* 모달 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤바 표시 */
    background-color: rgba(0, 0, 0, 0.4); /* 배경색과 투명도 */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경색과 투명도 */
    z-index: 999;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    height: 240px;
    text-align: center;
}

.modal-content > #title {
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0;
}

.modal-content > p {
    font-size: 20px;
    margin: 15px 0;
}
