#posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.post-box {
    display: flex;
    background-color: #ffffff;
    border-radius: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 8px 0;
    box-shadow: 3px 4px 4px 0px #cccccc40;
    cursor: pointer;
}

.post-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 30px;
    border-bottom: 1px solid #f4f5f7; /* 배경색과 동일한 줄 */
}

.post-author {
    display: flex;
    padding: 15px 30px;
    align-items: center;
}

.post-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
}

.post-info {
    display: flex;
    flex-direction: row;
    font-size: x-small;
    color: #363636;
    justify-content: space-between;
    width: 100%;
}

.post-date {
    display: flex;
    flex-direction: flex-end;
    align-items: flex-end;
    font-size: 14px;
}

.flex-end {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0;
}

.h2-title {
    font-weight: 400;
}
